__pycache__/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.wav
/audio
*.tmp
*.ini
*.py.lprof
crypting_audio_file.py.lprof
desktop.ini
__pycache__/desktop.ini
audio/desktop.ini
